[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restx = "*"
flask-sqlalchemy = "*"
pyopenssl = "*"
mysqlclient = "*"
flask-cors = "*"
pyjwt = "==2.6.0"
flask-socketio = "*"
mediapipe = "*"
tensorflow = "==2.12.0"
flask-sockets = "*"

[dev-packages]

[requires]
python_version = "3.8"
